@media screen and (max-width: 1200px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }


}

@media screen and (max-width: 1024px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .order {

        .container {


            .order-text {
                flex-direction: column;
                align-items: center;

                .order-img {
                    max-width: 100%;

                    img {
                        height: 500px;
                        background-color: #020100;
                    }

                }


            }


        }

    }

    .footer {
        padding: 80px 40px;

    }
}

@media screen and (max-width: 767px) {
    .main {
        .container {
            padding-left: 15px;
            padding-right: 15px;

            .main-info {

                .main-info-description {
                    font-size: 16px;
                }
            }
        }
    }

    .about {
        .container {
            .about-info {
                align-items: flex-end;

                .about-info-text {
                    width: 338px;

                    .about-info-title {
                        width: 491px;
                    }

                    .about-info-descriptions {
                        font-size: 14px;
                    }
                }

                .about-info-image {
                    &::before {
                        top: 44px;
                        left: 86px;
                        width: 260.374px;
                        height: 432.156px;
                    }

                    img {
                        width: 375.853px;
                        height: 564px;
                    }

                }
            }
        }
    }

    .team {
        padding-top: 30px;

        .container {
            .swiper {
                .team-title {
                    width: 688px;
                }

                .swiper-slide {
                    flex-direction: column-reverse;
                    align-items: center;

                    .descriptions-block {
                        .mySwiper-trainer-title {
                            font-size: 22px;
                        }

                        .team-descriptions-trainer {
                            p {
                                font-size: 14px;
                            }
                        }
                    }

                    .description-images {
                        &::before {
                            position: fixed;
                            right: 197px;
                            top: 44px;
                            width: 263px;
                            height: 467px;
                        }

                        .image-trainer {
                            width: 334px;
                            height: 500px;
                        }
                    }
                }
            }

        }
    }

    .season-tickets {
        padding-top: 40px;

        .container {
            .season-tickets-price-cards {
                > h3 {
                    font-size: 22px;
                    margin-bottom: 40px;
                }
            }
        }
    }

    .contacts {
        .container {
            align-items: unset;

            .contacts-map {
                margin-right: 15px;

            }

            .contacts-info {
                .contacts-info-number {
                    font-size: 16px;
                }

                .contacts-info-address {
                    font-size: 16px;
                }

                .contacts-info-email {
                    a {
                        font-size: 16px;
                    }
                }

                .contacts-info-descriptions {
                    font-size: 14px;
                }
            }
        }
    }

    .order {

        .container {


            .order-text {
                flex-direction: column;
                align-items: center;

                form {
                    width: 100%;

                    fieldset {
                    }
                }

                .order-img {
                    max-width: 100%;

                    img {
                        height: 400px;
                    }

                }


            }


        }

    }

    .footer {
        .container {
            .footer-logo {
                width: 166px;

            }

            .footer-menu {
                width: 130px;
            }

            .footer-contact-info {
                width: 218px;
            }

        }
    }

}

@media screen and (max-width: 712px) {
    .about {
        padding-top: 0px;

        .container {
            .about-info {
                align-items: center;
                flex-direction: column;

                .about-info-text {

                    .about-info-title {
                        margin-top: 100px;
                        max-width: 100%;
                        text-align: center;
                    }

                    .about-info-descriptions {
                        font-size: 14px;
                    }
                }

                .about-info-image {
                    &::before {
                        top: 44px;
                        left: 86px;
                        width: 260.374px;
                        height: 432.156px;
                    }

                    img {
                        width: 375.853px;
                        height: 564px;
                    }

                }
            }
        }
    }

    .team {
        .container {
            .swiper {
                .team-title {
                    font-size: 40px;
                }

                .swiper-slide {
                    .description-images {
                        &::before {
                            right: 169px;
                        }
                    }
                }
            }

        }
    }

}


@media screen and (max-width: 624px) {
    .main {
        .container {
            padding-left: 15px;
            padding-right: 15px;

            .main-info {
                .main-info-title {
                    width: 400px;
                }

                .main-info-description {
                    width: auto;
                    font-size: 16px;
                }
            }
        }
    }

    .contacts {
        .container {
            flex-direction: column-reverse;

            .contacts-info {
                align-items: center;
                width: 100%;
                margin-bottom: 50px;

                .contacts-info-descriptions {
                    width: 333px;
                    text-align: center;
                }

            }

        }
    }

    .footer {
        margin-top: 0px;
        padding: 40px 0 0 0;

        .container {
            gap: 40px;
            flex-direction: column;

            .footer-logo {
                display: contents;
                order: 1;
                width: 100%;
                text-align: center;

                .rights {
                    margin-top: 0;
                    order: 5;
                }

            }

            .footer-menu {
                order: 2
            }

            .footer-contact-info {
                gap: 25px;
                order: 3;
            }
        }
    }

}

@media screen and (max-width: 478px) {
    .header {
        .container {
            .logo {
                .burger {
                    margin-left: 40px;
                }
            }

        }
    }

    .team {
        .container {
            .swiper {
                .team-title {
                    max-width: 100%;
                    text-align: center;
                    font-size: 40px;
                    margin-bottom: 40px;
                }

                .swiper-slide {
                    .description-images {
                        &::before {
                            right: 90px;
                        }
                    }
                }
            }

        }
    }

}

@media screen and (max-width: 425px) {
    .header {
        .container {
            justify-content: space-between;

            .logo {
                order: 1;
            }

            .telephone-block {
                order: 2;

                p {
                    display: none;
                }
            }
        }

    }

    .main {
        .container {
            padding-left: 15px;
            padding-right: 15px;

            .main-info {
                .main-info-title {
                    width: 350px;
                }

                .main-info-description {
                    span {
                        display: block;
                    }
                }
            }
        }
    }

    .directions {
        .container {
            .directions-items {
                gap: 15px;

                .directions-item {
                    width: 320px;

                    .directions-item-image {
                        img {
                            width: 290px;

                        }
                    }
                }
            }
        }
    }

    .team {
        .container {
            .swiper {
                .team-title {
                    max-width: 100%;
                    text-align: center;
                    font-size: 40px;
                    margin-bottom: 40px;
                }

                .swiper-slide {
                    .description-images {
                        &::before {
                            right: 75px;
                        }
                    }
                }
            }

        }
    }

    .schedule-price {
        padding-top: 0;

        .container {
            .schedule-price-title {
                font-size: 38px;
                margin-bottom: 25px;
            }

            .schedule-price-cards {

                > h3 {
                    font-size: 22px;
                    margin-bottom: 40px;
                }

                .schedule-price-card {
                    gap: 30px;

                    .product {
                        max-width: 100%;
                        padding: 41px 41px;

                        .card-product-title {
                            font-size: 45px;
                        }

                        .card-product-text {
                            p {
                                font-size: 16px;

                                &:first-child {
                                    margin-bottom: 40px;

                                    &:not(:last-child) {
                                        margin-bottom: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .contacts {

        .container {
            .contacts-info {
                padding-top: 60px;
                display: block;

                .contacts-info-title {
                    margin-bottom: 40px;
                    text-align: center;

                }

                .contacts-info-number {
                    margin-bottom: 25px;

                }

                .contacts-info-address {
                    font-size: 16px;

                }

                .contacts-info-time {
                    font-size: 20px;
                    margin-top: 20px;
                    margin-bottom: 25px;
                }

                .contacts-info-email {
                    margin-bottom: 20px;

                    a {
                        font-size: 16px;
                    }
                }

                .contacts-info-descriptions {
                    font-size: 14px;
                    text-align: left;
                }
            }
        }

    }

    .order {

        .container {


            .order-text {
                .order-img {
                    display: none;

                    img {
                    }

                }


            }


        }

    }
}

@media screen and (max-width: 425px) {
    .header {
        padding-top: 40px;
    }

    .main {
        padding: 158px 0 208px 0;

        .container {
            padding-left: 15px;
            padding-right: 15px;

            .main-info {
                .main-info-title {
                    margin-bottom: 26px;
                    width: 244px;
                }

                .main-info-description {
                    width: 309px;
                    margin-bottom: 60px;
                }

                .main-info-actions {
                    .button {
                        width: 180px;
                        height: 60px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .about {
        padding-bottom: 80px;

        .container {
            .about-info {
                align-items: center;
                flex-direction: column;
                /*width: 300px;*/

                .about-info-text {
                    max-width: 100%;

                    .about-info-title {
                        font-size: 38px;
                        margin-top: 80px;
                        margin-bottom: 40px;

                    }

                    .about-info-descriptions {
                        text-align: left;
                        font-size: 14px;
                        width: 334px;

                        p {
                            &:last-child {
                                margin-bottom: 40px;
                            }
                        }
                    }
                }

                .about-info-image {
                    &::before {
                        top: 40px;
                        left: 41px;
                        width: 260.374px;
                        height: 432.156px;
                    }

                    img {
                        width: 320.853px;
                        height: 100%;
                    }

                }
            }
        }
    }

    .advantages {
        .container {
            .advantages-info {
                .advantages-title {
                    margin-bottom: 40px;
                    font-size: 38px;
                }

                .advantages-items {
                    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
                    gap: 25px;

                    .advantage-item {
                        .advantage-title {
                            margin-bottom: 10px;

                            .advantage-title-text {
                                font-size: 16px;
                            }
                        }

                        .advantage-content {
                            font-size: 14px;
                        }
                    }
                }


            }
        }
    }

    .directions {
        padding-top: 10px;
        padding-bottom: 50px;

        .container {
            .common-title {
                padding-top: 60px;
                font-size: 38px;
            }

            .directions-items {
                gap: 15px;
                padding-bottom: 60px;

                .directions-item {
                    width: 320px;
                    animation: hint-scroll 1.5s ease-in-out 1;


                    .directions-item-image {
                        img {
                            width: 290px;

                        }
                    }

                    .directions-item-details {
                        .directions-item-extra {

                            .orange-button {
                                width: 290px;
                            }
                        }
                    }

                }
            }
        }
    }

    .team {
        padding-bottom: 80px;

        .container {
            .swiper {
                .team-title {
                    max-width: 100%;
                    text-align: center;
                    font-size: 40px;
                    margin-bottom: 40px;
                }

                .swiper-slide {
                    .descriptions-block {
                        width: 274px;

                        .mySwiper-trainer-title {
                            font-size: 26px;
                            text-align: center;

                        }

                        .team-descriptions-trainer {
                            max-width: 100%;
                            font-size: 16px;

                        }

                        .directions-item-trainer {
                            .swiper-nav {
                                gap: 25px;
                            }
                        }

                    }

                    .description-images {
                        max-width: 100%;

                        &::before {
                            right: 45px;
                            width: 250px;
                            height: 421px;
                        }

                        .image-trainer {
                            width: 310px;
                            height: 100%;
                        }
                    }
                }
            }

        }
    }

    .schedule-price {
        padding-bottom: 60px;

        .container {
            .schedule-price-cards {
                .schedule-price-card {
                    gap: 20px;
                }
            }
        }
    }

    .season-tickets {
        padding-bottom: 80px;

        .container {
            .season-tickets-price-title {
                margin-bottom: 25px;
                font-size: 38px;
            }

            .season-tickets-price-cards {
                > h3 {
                    font-size: 22px;
                }

                .season-tickets-price-card {
                    gap: 20px;
                }
            }
        }
    }

    .contacts {
        .container {
            .contacts-info {
                .contacts-info-title {
                    margin-bottom: 40px;
                    text-align: center;
                }

                .contacts-info-number {
                    margin-bottom: 25px;

                }

                .contacts-info-address {
                    font-size: 14px;

                }

                .contacts-info-time {
                    font-size: 18px;
                    margin-top: 20px;
                    margin-bottom: 25px;
                }

                .contacts-info-email {
                    margin-bottom: 20px;

                    a {
                        font-size: 14px;
                    }
                }

                .contacts-info-descriptions {
                    font-size: 14px;
                    text-align: left;
                    width: 100%;
                }
            }
        }

    }

    .order {
        margin-top: 0px;

        .container {
            .order-text {
                form {
                    .order-text-title {
                        text-align: center;
                        font-size: 38px;
                        padding-top: 60px;
                        margin-bottom: 40px;
                    }

                    fieldset {
                        width: 100%;
                        padding-bottom: 60px;

                        legend {
                            font-size: 16px;

                        }

                        .checkbox-group {
                            label {
                                font-size: 14px;

                            }

                        }

                        .order-contact {
                            margin-bottom: 25px;
                            align-items: stretch;
                            width: 100%;

                            .order-input-label {
                                width: 100%;
                                margin-bottom: 0px;


                                .order-input {
                                    width: 100%;
                                    /*width: 310px;*/
                                }
                            }
                        }

                        .orange-button {
                            width: 100%;
                        }
                    }
                }

            }


        }

    }

    .footer {
        padding-top: 60px;
        padding-bottom: 60px;

    }
}

@media screen and (max-width: 320px) {

    .team {
        .container {
            .swiper {
                .team-title {
                    max-width: 100%;
                    text-align: center;
                    font-size: 38px;
                    margin-bottom: 40px;
                }

                .swiper-slide {
                    .descriptions-block {
                        width: 274px;

                        .mySwiper-trainer-title {
                            font-size: 26px;
                            text-align: center;

                        }

                        .team-descriptions-trainer {
                            max-width: 100%;
                            font-size: 16px;

                        }

                        .directions-item-trainer {
                            .swiper-nav {
                                gap: 25px;
                            }
                        }

                    }

                    .description-images {
                        max-width: 100%;

                        &::before {
                            right: 29px;
                            width: 224px;
                            height: 392px;
                        }

                        .image-trainer {
                            width: 310px;
                            height: 100%;
                        }
                    }
                }
            }

        }
    }

    .schedule-price {
        padding-top: 0;

        .container {
            .schedule-price-title {
                font-size: 38px;
                margin-bottom: 25px;
            }

            .schedule-price-cards {

                > h3 {
                    font-size: 22px;
                    margin-bottom: 40px;
                }

                .schedule-price-card {
                    max-width: 100%;
                    gap: 20px;

                    .product {
                        max-width: 100%;
                        padding: 41px 41px;

                        .card-product-title {
                            font-size: 45px;
                        }

                        .card-product-text {
                            p {
                                font-size: 14px;

                                &:first-child {
                                    margin-bottom: 40px;

                                    &:not(:last-child) {
                                        margin-bottom: 40px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .season-tickets {
        .container {
            .season-tickets-price-title {
                font-size: 38px;
            }

            .season-tickets-price-cards {
                > h3 {
                    font-size: 22px;
                }
            }
        }
    }

    .order {
        .container {
            .order-text {
                form {

                    fieldset {
                        width: 290px;

                        .order-contact {
                            .order-input-label {
                                .order-input {
                                    width: 290px;
                                }
                            }
                        }
                    }
                }

            }


        }

    }
}

@keyframes hint-scroll {
    0% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-80px);
    }
    /* сместились влево */
    70% {
        transform: translateX(-80px);
    }
    /* чуть держим */
    100% {
        transform: translateX(0);
    }
    /* вернулись на место */
}