* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSansRegular;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: FatalTrialBold;
    src: url("../fonts/Fatal-TRIAL-Bold.ttf");
}

@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSansBold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

body {
}

.header {
    background-color: #0C2965;
    padding-top: 44px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: content-box;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.telephone-block a {
    font-size: 26px;
    font-family: OpenSansRegular, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.telephone-block p {
    font-family: OpenSansRegular, sans-serif;
    font-size: 14px;
    color: #D4DDF2;
    text-align: center;

}

.logo {
    display: flex;
    align-items: center;
}

.burger {
    margin-left: 66px;
    cursor: pointer;
}

.burger svg {
    width: 36px;
    height: 36px;
    fill: #fad7a7;
}

.menu {
    display: none;
    background-color: #F7F9FD;
    padding-top: 108px;
    padding-left: 142px;
    z-index: 1;
    position: absolute;
    top: 128px;
    left: 0px;
    width: 484px;
    height: 728px;
    /*flex-shrink:0 ;*/
}

.close {
    position: absolute;
    top: 10px;
    left: 560px;
    cursor: pointer;

}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 40px;
}

.menu ul li:last-child {
    margin-bottom: 0;
}

.menu ul li a {
    text-decoration: none;
    font-family: OpenSansRegular, sans-serif;
    font-size: 36px;
    color: #1F1F1F;
    line-height: 36px;
}

.menu.active {
    display: block;
}

/*MAIN главная страница*/
.main {
    position: relative;
    padding: 148px 0 198px 0;
    background-color: #0C2965;

}

.main .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info-title {
    /*font-size: 180px;*/
    /*font-family: FatalTrialBold, sans-serif;*/
    /*color: #ffffff;*/
    margin-bottom: 38px;
    width: 552px;
    height: auto;
}

.main-info-title span {
    font-size: 72px;
    transform: rotate(-90deg);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.main-info-description {
    width: 600px;
    font-size: 20px;
    font-family: OpenSansLight, sans-serif;
    color: #F1F3F6;
    line-height: 30px;
    margin-bottom: 80px;
}

.btn {
    width: 220px;
    height: 60px;
    background-color: #FFA500;
    cursor: pointer;
    font-size: 20px;
    font-family: OpenSansRegular, sans-serif;
    border: none;
}

.block-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /*z-index: 99;*/
    /*bottom: 77vh;*/
}

.main-images-left {
    position: absolute;
    bottom: -86px;
    display: inline-block;
}

.main-image-right {
    position: absolute;
    bottom: -99px;
    display: inline-block;
    left: 1225px;
}

.main-image-bottom {
    width: 100%;
    overflow: hidden;
    background: rgba(168, 233, 252, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 39px;
    transform: rotate(-2deg);
    top: 165px;

}

.main-image-bottom-descriptions {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 15s linear infinite;

}

.main-image-bottom-descriptions span {
    font-size: 15px;
    color: #F1F3F6;
    font-family: OpenSansRegular, sans-serif;
}

@keyframes marquee {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
    }
}

.about {
    padding: 147px 0 140px 0;
    background-color: #FAFAFA;
    position: relative;
    z-index: 0;
    overflow: hidden; /* чтобы фон не выходил за границы */
}

.about .container::before {
    content: "";
    position: absolute;
    top: 147px;
    left: 0;
    width: 100vw;
    height: 625px;
    background-color: #D4DDF2;
    z-index: -1;
}

.about-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

}

.about-info-text {
    width: 630px;
}

.about-info-title {
    font-size: 48px;
    color: #1F1F1F;
    font-family: OpenSansRegular, sans-serif;
    font-weight: bold;
    margin-bottom: 60px;
}

.about-info-descriptions {
    font-size: 16px;
    color: #313131;
    font-family: OpenSansRegular, sans-serif;
    line-height: 22px;
}

.about-info-descriptions p {
    margin-bottom: 20px;
}

.about-info-descriptions p:last-child {
    margin-bottom: 0;
}

/*!*section advantage*!*/
.advantages {
    padding-bottom: 140px;
    background-color: #FAFAFA;

}

.advantages-title {
    font-family: "OpenSansBold", sans-serif;
    color: #1e1a2b;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 60px;

}

.advantages-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 60px; /* Расстояние между карточками */
}

.advantage-item {
    box-sizing: border-box;
}

.advantage-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}


.advantage-title-text {
    font-size: 20px;
    font-family: "OpenSansBold", sans-serif;
    line-height: 150%;
}

.advantage-content {
    font-size: 16px;
    line-height: 140%;
    font-family: "OpenSansRegular", sans-serif;
}

/*Directions*/


.directions {
    padding: 80px 0 80px 0;
    background-color: #FAFAFA;
    position: relative;
    z-index: 0;
}

.directions .container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 751px;
    background-color: #D4DDF2;
    z-index: -1;
}

.common-title {
    font-family: "OpenSansBold", sans-serif;
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 120%; /* 57.6px */
    text-align: center;
}


.directions-items {
    display: grid; /*Отображение элементов*/
    grid-template-columns: repeat(3, 360px); /*Ставит в ряд блоки карточек*/
    gap: 61px; /*Создаем отступы карточек*/


}

.directions-item {
    background-color: white;
}

.directions-item-image {
    max-width: 100%;
    padding: 15px;
}

/*.directions-items img {*/
/*    height: 272px;!*Высота карттинки*!*/
/*    top: -70px;!*Чтоб уходила вверх*!*/
/*    position: relative;!* Позиционирование *!*/
/*    max-width: 100%;!*Максимальная ширина*!*/
/*}*/

.directions-item-details {
    padding: 30px 15px 15px 15px; /*Создаем отступы*/
    position: relative;

}

.directions-item-title {
    font-family: 'FatalTrialBold', sans-serif; /*Стиль текста*/
    font-size: 80px; /*Размер тектса*/
    position: absolute; /* Позиционирование */
    top: -48px;
    left: 187px;
    width: 89px;
    color: #8A8A8A;
    text-align: left;
}

.directions-item:nth-child(3) .directions-item-title {
    color: black;
}

.directions-item-text {
    font-family: 'openSansRegular', sans-serif;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 40px;
    height: 198px;
}
.orange-button {
    width: 180px;
    height: 50px;
    background-color: #FFA500;
    cursor: pointer;
    font-size: 16px;
    font-family: OpenSansRegular, sans-serif;
    border: none;
}





