* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: OpenSansRegular;
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: FatalTrialBold;
    src: url("../fonts/Fatal-TRIAL-Bold.ttf");
}

@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/OpenSans-Light.ttf");
}

body {
}

.header {
    background-color: #0C2965;
    padding-top: 44px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.telephone-block a {
    font-size: 26px;
    font-family: OpenSansRegular, sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.telephone-block p {
    font-family: OpenSansRegular, sans-serif;
    font-size: 14px;
    color: #D4DDF2;
    text-align: center;

}

.logo {
    display: flex;
    align-items: center;
}

.burger {
    margin-left: 66px;
    cursor: pointer;
}

.burger svg {
    width: 36px;
    height: 36px;
    fill: #fad7a7;
}

.menu {
    display: none;
    background-color: #F7F9FD;
    padding-top: 108px;
    padding-left: 142px;
    z-index: 1;
    position: absolute;
    top: 128px;
    left: 0px;
    width: 484px;
    height: 728px;
    /*flex-shrink:0 ;*/
}

.close {
    position: absolute;
    top: 10px;
    left: 560px;
    cursor: pointer;

}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-bottom: 40px;
}

.menu ul li:last-child {
    margin-bottom: 0;
}

.menu ul li a {
    text-decoration: none;
    font-family: OpenSansRegular, sans-serif;
    font-size: 36px;
    color: #1F1F1F;
    line-height: 36px;
}

.menu.active {
    display: block;
}

/*MAIN главная страница*/
.main {
    position: relative;
    padding: 148px 0 198px 0;
    background-color: #0C2965;

}

.main .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info-title {
    /*font-size: 180px;*/
    /*font-family: FatalTrialBold, sans-serif;*/
    /*color: #ffffff;*/
    margin-bottom: 38px;
    width: 552px;
    height: auto;
}

.main-info-title span {
    font-size: 72px;
    transform: rotate(-90deg);
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.main-info-description {
    width: 600px;
    font-size: 20px;
    font-family: OpenSansLight, sans-serif;
    color: #F1F3F6;
    line-height: 30px;
    margin-bottom: 80px;
}

.btn {
    width: 220px;
    height: 60px;
    background-color: #FFA500;
    cursor: pointer;
    font-size: 20px;
    font-family: OpenSansRegular, sans-serif;
    border: none;
}

.block-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /*z-index: 99;*/
    /*bottom: 77vh;*/
}

.main-images-left {
    position: absolute;
    bottom: -86px;
    display: inline-block;
}

.main-image-right {
    position: absolute;
    bottom: -99px;
    display: inline-block;
    left: 1225px;
}

/*.main-image-bottom {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    background: rgba(168, 233, 252, 0.35);*/
/*    transform: rotate(-2deg);*/
/*    bottom: 39px;*/
/*    height: 39px;*/
/*}*/

/*.main-image-bottom-descriptions {*/
/*    font-size: 15px;*/
/*    color: #F1F3F6;*/
/*    font-family: OpenSansRegular, sans-serif;*/
/*}*/

.main-image-bottom {
    width: 100%;
    overflow: hidden;
    background: rgba(168, 233, 252, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 39px;
    transform: rotate(-2deg);
    top: 165px;

}

.main-image-bottom-descriptions {
    white-space: nowrap;
    display: inline-block;
    animation: marquee 15s linear infinite;

}
.main-image-bottom-descriptions  span {
    font-size: 15px;
    color: #F1F3F6;
    font-family: OpenSansRegular, sans-serif;
}
@keyframes marquee {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0%);
    }
}
