* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Это улучшает контроль размеров */

}

@font-face {
    font-family: OpenSansRegular;
    src: url("../fonts/OpenSans-Regular.ttf") format('ttf');
}

@font-face {
    font-family: FatalTrialBold;
    src: url("../fonts/Fatal-TRIAL-Bold.ttf");
}

@font-face {
    font-family: OpenSansLight;
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSansBold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

body {
    background-color: #FAFAFA;

}

.header {
    padding-top: 44px;
    background-color: #0C2965;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        /*box-sizing: content-box;*/
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;

            .burger {
                margin-left: 66px;
                cursor: pointer;

                svg {
                    width: 36px;
                    height: 36px;
                    fill: #fad7a7;
                }
            }
        }

        .menu {
            display: none;
            background-color: #F7F9FD;
            padding-top: 108px;
            padding-left: 142px;
            z-index: 1;
            position: absolute;
            top: 128px;
            left: 0px;
            width: 484px;
            height: 728px;
            /*flex-shrink:0 ;*/
        }

        .telephone-block {
            a {
                font-size: 26px;
                font-family: OpenSansRegular, sans-serif;
                color: #ffffff;
                font-weight: bold;
                text-decoration: none;
            }

            p {
                font-family: OpenSansRegular, sans-serif;
                font-size: 14px;
                color: #D4DDF2;
                text-align: center;

            }
        }

    }
}

/*main*/

.main {
    padding: 148px 0 198px 0;
    background-color: #0C2965;

    .container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .main-info {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .main-info-title {
                /*font-size: 180px;*/
                /*font-family: FatalTrialBold, sans-serif;*/
                /*color: #ffffff;*/
                margin-bottom: 38px;
                width: 552px;
                height: auto;

            }

            .main-info-description {
                width: 600px;
                font-size: 20px;
                font-family: OpenSansLight, sans-serif;
                color: #F1F3F6;
                line-height: 30px;
                margin-bottom: 80px;
            }

            .button {
                width: 220px;
                height: 60px;
                background-color: #FFA500;
                cursor: pointer;
                font-size: 20px;
                font-family: OpenSansRegular, sans-serif;
                border: none;
            }
        }
    }
}


.about {
    padding: 147px 0 140px 0;
    overflow: hidden; /* чтобы фон не выходил за границы */

    .container {
        background-color: #D4DDF2;

        .about-info {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .about-info-text {
                width: 630px;

                .about-info-title {
                    font-size: 48px;
                    color: #1F1F1F;
                    font-family: OpenSansRegular, sans-serif;
                    font-weight: bold;
                    margin-bottom: 60px;
                }

                .about-info-descriptions {
                    font-size: 16px;
                    color: #313131;
                    font-family: OpenSansRegular, sans-serif;
                    line-height: 21px;

                    p {
                        margin-bottom: 20px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }


            }

            .about-info-image {
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 95px;
                    left: 40px;
                    background: linear-gradient(135deg, #020100, #040100);
                    z-index: 0;
                    width: 360px;
                    height: 447px;
                }

                img {
                    position: relative;
                    z-index: 1; /* картинка выше фона */
                }
            }

        }
    }
}

/*section advantage*/
.advantages {
    padding-bottom: 70px;

    .container {
        max-width: 1200px; /* ограничение ширины контейнера */
        margin: 0 auto;

        .advantages-info {
            .advantages-title {
                font-family: "OpenSansBold", sans-serif;
                color: #1e1a2b;
                font-size: 48px;
                line-height: 120%;
                text-align: center;
                margin-bottom: 60px;
            }

            .advantages-items {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
                gap: 60px; /* расстояние между карточками */


                .advantage-item {
                    .advantage-title {
                        display: grid;
                        grid-template-columns: auto 1fr;
                        align-items: center;
                        gap: 15px;
                        margin-bottom: 20px;

                        .advantage-title-text {
                            font-size: 20px;
                            font-family: "OpenSansBold", sans-serif;
                            line-height: 150%;
                        }
                    }

                    .advantage-content {
                        font-size: 16px;
                        line-height: 140%;
                        font-family: "OpenSansRegular", sans-serif;
                    }
                }


            }
        }
    }
}

/*sections Directions*/


.directions {
    padding: 70px 0 40px 0;

    .container {
        background-color: #D4DDF2;

        .common-title {
            padding-top: 80px;
            font-family: "OpenSansBold", sans-serif;
            margin-bottom: 60px;
            font-size: 48px;
            line-height: 120%; /* 57.6px */
            text-align: center;
        }


        .directions-items {
            max-width: 1200px;
            margin: 0 auto;
            display: flex; /* выстраиваем карточки в линию */
            /*justify-content: space-between;*/
            gap: 60px; /* отступы между карточками */
            overflow-x: auto; /* включаем горизонтальный скролл */
            overflow-y: hidden; /* убираем вертикальный скролл */
            scroll-behavior: smooth; /* плавная прокрутка */
            -webkit-overflow-scrolling: touch; /* для iOS */
            padding-bottom: 80px;

            .directions-item {
                background-color: white;
                flex: 0 0 auto; /* запрещаем ужиматься карточкам */
                width: 360px; /* фиксированная ширина */
                height: 473px;


                .directions-item-image {
                    max-width: 100%;
                    padding: 15px;
                }

                .directions-item-details {
                    padding: 30px 15px 15px 15px; /*Создаем отступы*/
                    position: relative;

                    .directions-item-title {
                        font-family: 'FatalTrialBold', sans-serif; /*Стиль текста*/
                        font-size: 80px; /*Размер тектса*/
                        position: absolute; /* Позиционирование */
                        top: -45px;
                        left: 187px;
                        width: 89px;
                        color: #8A8A8A;
                        text-align: left;
                    }

                    .directions-item-text {
                        font-family: 'openSansRegular', sans-serif;
                        font-size: 16px;
                        line-height: 22px;
                        margin-bottom: 40px;
                        height: 198px;
                    }

                    .directions-item-extra {

                        .orange-button {
                            width: 180px;
                            height: 50px;
                            background-color: #FFA500;
                            cursor: pointer;
                            font-size: 16px;
                            font-family: OpenSansRegular, sans-serif;
                            border: none;
                        }
                    }
                }
            }
        }
    }

}

/*section trainer slick*/
.team {
    padding: 60px 0 120px 0;
    /*background-color: #FAFAFA;*/

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .swiper {
            .team-title {
                font-family: "OpenSansBold", sans-serif;
                font-size: 48px;
                line-height: 120%;
                width: 778px;
            }

            .swiper-slide {
                display: flex;
                align-items: end;
                justify-content: space-between;
                gap: 40px;
                background: #FAFAFA;

                .descriptions-block {
                    flex: 1 1 50%;
                    max-width: 600px;

                    .mySwiper-trainer-title {
                        font-family: 'OpenSansRegular', sans-serif;
                        font-size: 26px;
                        line-height: 130%;
                        margin-bottom: 30px;
                    }

                    .team-descriptions-trainer {
                        display: grid;
                        gap: 15px;

                        p {
                            font-size: 16px;
                            font-family: "OpenSansRegular", sans-serif;
                            line-height: 140%;
                        }
                    }

                    .container-info-item {
                        margin-top: 30px;

                        ul {
                            list-style: none;

                            li {
                                display: flex;
                                align-items: center;
                                margin-bottom: 10px;
                                gap: 10px;
                            }
                        }
                    }

                    .directions-item-trainer {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        margin-top: 60px;
                        /*flex-wrap: wrap; !* Для мобильной адаптации *!*/

                        .button {
                            width: 220px;
                            height: 60px;
                            background-color: #FFA500;
                            cursor: pointer;
                            font-size: 20px;
                            font-family: OpenSansRegular, sans-serif;
                            border: none;
                        }

                        .swiper-nav {
                            display: flex;
                            align-items: normal;
                            gap: 70px;
                            height: 60px;


                            .swiper-button-prev {
                                position: relative;
                                color: #1F1F1F;

                            }

                            .swiper-button-next {
                                position: relative;
                                color: #1F1F1F;

                            }
                        }
                    }

                }

                .description-images {
                    &::before {
                        content: '';
                        position: absolute;
                        top: 95px;
                        right: 50px;
                        z-index: -1;
                        width: 314px;
                        height: 535px;
                        background: #686868;
                        box-shadow: 4px 4px 40px 0 #ACACAC;
                    }

                    .image-trainer {
                        max-width: 100%;
                        height: auto;
                        border-radius: 12px;
                    }
                }
            }
        }

    }
}

/*sections schedule-price*/


.schedule-price {
    padding: 40px 0 70px 0;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .schedule-price-title {
            font-family: "OpenSansBold", sans-serif;
            font-size: 48px;
            /*line-height: 120%;*/
            text-align: center;
            margin-bottom: 40px;
        }

        .schedule-price-cards {
            > h3 {
                font-family: "OpenSansLight", sans-serif;
                font-size: 26px;
                /*line-height: 130%;*/
                margin-bottom: 60px;
                text-align: center;
            }

            .schedule-price-card {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 60px;

                .product {
                    width: 360px;
                    /*box-shadow: 0 3px 14px 1.2px rgba(152, 152, 152, 0.2);*/
                    text-align: center;
                    background-color: #0C2965;
                    padding: 52px 56px 52px 48px;
                    box-sizing: border-box;

                    .card-product-title {
                        h3 {
                            font-family: "FatalTrialBold", sans-serif;
                            font-size: 60px;
                            text-align: center;
                            color: #E7E9ED;
                            line-height: 120%;
                        }
                    }

                    .card-product-text {
                        p {
                            font-family: 'OpenSansLight', sans-serif;
                            font-size: 20px;
                            color: #E7E9ED;

                            &:first-child {
                                margin-bottom: 45px;

                                &:not(:last-child) {
                                    margin-bottom: 40px;
                                }
                            }
                        }


                        .card-product-description {
                            p {
                                font-family: 'OpenSansLight', sans-serif;
                                font-size: 16px;
                                display: flex;
                                flex-direction: column;
                                gap: 19px;
                            }
                        }
                    }

                    .orange-button {
                        width: 180px;
                        height: 50px;
                        background-color: #FFA500;
                        cursor: pointer;
                        font-size: 16px;
                        font-family: OpenSansRegular, sans-serif;
                        border: none;
                    }
                }
            }
        }
    }
}

/*section seasons-ticket*/

.season-tickets {
    padding: 70px 0 140px 0;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .season-tickets-price-title {
            font-family: "OpenSansBold", sans-serif;
            font-size: 48px;
            text-align: center;
            line-height: 83%;
            margin-bottom: 40px;

        }

        .season-tickets-price-cards {
            > h3 {
                font-family: "OpenSansLight", sans-serif;
                font-size: 26px;
                line-height: 130%;
                margin-bottom: 60px;
                text-align: center;

            }

            .season-tickets-price-card {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 60px;

                .product {
                    width: 360px;
                    /*box-shadow: 0 3px 14px 1.2px rgba(152, 152, 152, 0.2);*/
                    text-align: center;
                    background-color: #0C2965;
                    padding: 52px 56px 52px 48px;
                    box-sizing: border-box;

                    .card-product-title {
                        h3 {
                            font-family: "FatalTrialBold", sans-serif;
                            font-size: 60px;
                            text-align: center;
                            color: #E7E9ED;
                            line-height: 120%;
                        }
                    }

                    .card-product-text {
                        p {
                            font-family: 'OpenSansLight', sans-serif;
                            font-size: 20px;
                            color: #E7E9ED;

                            &:first-child {
                                margin-bottom: 45px;

                                &:not(:last-child) {
                                    margin-bottom: 40px;
                                }
                            }
                        }


                        .card-product-description {
                            p {
                                font-family: 'OpenSansLight', sans-serif;
                                font-size: 16px;
                                display: flex;
                                flex-direction: column;
                                gap: 19px;
                            }
                        }
                    }

                    .orange-button {
                        width: 180px;
                        height: 50px;
                        background-color: #FFA500;
                        cursor: pointer;
                        font-size: 16px;
                        font-family: OpenSansRegular, sans-serif;
                        border: none;
                    }
                }
            }
        }
    }
}

/*contacts*/

.contacts {
    background-color: #D4DDF2;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        margin: 0 auto;

        .contacts-map {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%;
            overflow: hidden;
            margin-right: 60px;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;

            }
        }

        .contacts-info {
            display: flex;
            flex-direction: column;
            width: 568px;

            .contacts-info-title {
                font-family: "OpenSansBold", sans-serif;
                font-size: 48px;
                text-align: left;
                margin-bottom: 60px;
            }

            .contacts-info-number {
                display: flex;
                align-items: center;
                font-family: "OpenSansBold", sans-serif;
                font-size: 20px;
                text-align: left;
                margin-bottom: 40px;

                a {
                    text-decoration: none;
                    margin-left: 17px;
                    color: black;
                }
            }

            .contacts-info-address {
                display: flex;
                align-items: center;
                font-family: "OpenSansBold", sans-serif;
                font-size: 20px;
                text-align: left;

                a {
                    text-decoration: none;
                    margin-left: 17px;
                    color: black;
                }
            }

            .contacts-info-time {
                display: flex;
                flex-direction: column;
                font-family: 'OpenSansLight', sans-serif;
                font-size: 20px;
                text-align: left;
                line-height: 150%;
                margin-top: 20px;
                margin-bottom: 40px;
            }

            .contacts-info-email {
                display: flex;
                align-items: center;
                margin-bottom: 20px;

                a {
                    text-decoration: none;
                    font-family: 'OpenSansBold', sans-serif;
                    font-size: 20px;
                    text-align: left;
                    margin-left: 17px;
                    color: black;
                }
            }

            .contacts-info-descriptions {
                font-family: "OpenSansLight", sans-serif;
                font-size: 16px;
                text-align: left;
                line-height: 140%;
            }
        }
    }
}

/*section order*/

.order {
    margin-top: 140px;
    background-color: #D4DDF2;

    .container {
        max-width: 1200px;
        margin: 0 auto;

        .order-text {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;

            form {
                fieldset {
                    border: none;
                    width: 336px;
                    padding-bottom: 80px;


                    legend {
                        font-family: "OpenSansLight", sans-serif;
                        font-size: 20px;
                        text-align: left;
                        margin-bottom: 10px;
                    }

                    .checkbox-group {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 10px 20px; /* 10px — по вертикали, 20px — по горизонтали */
                        margin-bottom: 20px;

                        label {
                            font-family: "OpenSansLight", sans-serif;
                            font-size: 16px;
                        }
                    }

                    .order-contact {
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;

                        .order-input-label {
                            font-family: "OpenSansLight", sans-serif;
                            font-size: 16px;
                            margin-bottom: 25px;

                            .order-input {
                                padding-left: 15px;
                                width: 360px;
                                height: 60px;
                                font-size: 20px;
                                margin-bottom: 20px;
                            }

                        }
                    }
                }

                .orange-button {
                    width: 180px;
                    height: 50px;
                    background-color: #FFA500;
                    cursor: pointer;
                    font-size: 16px;
                    font-family: OpenSansRegular, sans-serif;
                    border: none;
                }

                .order-text-title {
                    padding-top: 80px;
                    font-family: "OpenSansRegular", sans-serif;
                    font-size: 48px;
                    text-align: left;
                    margin-bottom: 60px;
                }

            }


            .order-img {
                max-width: 100%;

                img {
                    height: 600px;
                    background-color: #020100;
                }

            }

        }

    }

}

/*footer*/
.footer {
    margin-top: 140px;
    padding: 80px 120px;
    background-color: #212D44;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .footer-logo {

            .rights {
                margin-top: 42px;
                display: flex;
                flex-direction: column;
                font-family: "OpenSansLight", sans-serif;
                font-size: 13px;
                line-height: 140%;
                color: #F1F3F6;

                span {
                    font-family: "OpenSansLight", sans-serif;
                    font-size: 13px;
                    color: #BBB;
                }
            }
        }

        .footer-menu {

            ul {
                list-style: none;

                li {
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        text-decoration: none;
                        font-family: "OpenSansLight", sans-serif;
                        font-size: 20px;
                        color: #F1F3F6;
                        line-height: 30px;
                    }

                }
            }
        }

        .footer-contact-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .footer-contacts {


                .footer-contacts-info-number {
                    display: flex;
                    align-items: center;
                    font-family: "OpenSansBold", sans-serif;
                    font-size: 20px;
                    text-align: left;
                    margin-bottom: 20px;
                    color: #F1F3F6;
                    a {
                        text-decoration: none;
                        margin-left: 17px;
                        color: #F1F3F6;
                    }
                }

                .footer-contacts-info-address {
                    display: flex;
                    align-items: center;
                    font-family: "OpenSansLight", sans-serif;
                    font-size: 20px;
                    text-align: left;
                    color: #F1F3F6;
                    a {
                        text-decoration: none;
                        margin-left: 17px;
                        color: white;
                    }
                }

                .footer-contacts-info-email {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    a {
                        text-decoration: none;
                        font-family: 'OpenSansLight', sans-serif;
                        font-size: 20px;
                        text-align: left;
                        margin-left: 17px;
                        color: #F1F3F6;

                    }
                }
            }

            .footer-social {
                display: flex;
                justify-content: space-between;
            }

        }
    }
}
